.footer span {
    color: #ffffff;
  }
  .footer a {
    color: #ffffff;
  }

  .footer {
    border-top: 1px solid #e7e7e7;
    background-color: #0b2e4e;
    padding: 15px 0;
  }
  svg:hover path {
    fill: #0b2e4e;
}
  
  .navbar-brand {
    font-size: inherit;
    padding: 5px;
  }

  .subnav.navbar-default {
    background-color: #0b2e4e;
    color: #ffffff;
  }
  .subnav.navbar-default a {
    color: #ffffff;
  }

  .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
    color:#555;
    background-color:transparent
  }